.questionboxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 50px;
    border: 2px solid skyblue;
    box-sizing: border-box;
}

.markdownContainer {
    height: 100%;
    color: black;
    overflow: scroll;
}